<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>反馈信息管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/myPlugin.js"></script>
    <script src="/static/js/admin/messageList.js"></script>
    <script src="/static/js/category.js"></script>
</head>
<body>
<div style="padding: 20px">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" >用户昵称</label>
            <div class="layui-input-inline">
                <input type="text"  id="search_nickname" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >题库标题</label>
            <div class="layui-input-inline">
                <input type="text"  id="search_title" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" >题目</label>
            <div class="layui-input-inline">
                <input type="text"  id="search_question" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn " id="bt_search"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
        <div class="layui-inline">
            <button class="layui-btn " id="bt_refresh"><i class="layui-icon">&#xe669;</i>刷新</button>
        </div>
    </div>
    <table class="layui-hide" id="tableElem" lay-filter="demo"></table>
</div>

</body>
</html>