<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的答题</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/myPlugin.js"></script>
    <script src="/static/js/user/answerSheet.js"></script>
</head>
<body>
<div style="padding: 20px;">
    <table class="layui-hide" id="tableElem" lay-filter="demo"></table>
</div>
</body>
</html>