<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.dao.AnswerSheetMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.AnswerSheet" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="istrue" property="istrue" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, question_id, bank_id, answer, istrue, create_time, update_time
  </sql>
  <!--根据id删除记录-->
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from answer_sheet
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--插入一条新记录-->
  <insert id="insert" parameterType="cn.myzqu.pojo.AnswerSheet" >
    insert into answer_sheet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="istrue != null" >
        istrue,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="istrue != null" >
        #{istrue,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--根据id更新记录-->
  <update id="updateById" parameterType="cn.myzqu.pojo.AnswerSheet" >
    update answer_sheet
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="istrue != null" >
        istrue = #{istrue,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!--根据id查询记录-->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from answer_sheet
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--综合查询答题记录-->
  <select id="select" resultType="cn.myzqu.dto.AnswerSheetDTO" parameterType="Map" >
    SELECT (@sort:=@sort+1)sort,

    answer_sheet.* ,

    question_bank.title as bank_title ,

    question_bank.category_name as bank_category,

    choice_question.question as question

    FROM (select @sort:=0) as sort ,answer_sheet

    INNER JOIN question_bank ON answer_sheet.bank_id = question_bank.id

    INNER JOIN choice_question ON answer_sheet.question_id = choice_question.id

    <where>
      <if test="userId!=null">
        AND answer_sheet.user_id = #{userId}
      </if>
      <if test="answerIsTrue!=null">
        AND answer_sheet.istrue = #{answerIsTrue}
      </if>
    </where>
  </select>

  <select id="selectCountByUserId" resultType="java.lang.Integer">
    SELECT COUNT(*) from answer_sheet
    where answer_sheet.user_id = #{userId}
      <if test=" isTrue!= null">
        AND answer_sheet.istrue = #{isTrue}
      </if>
  </select>

</mapper>