<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myzqu.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.Comment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, question_id, bank_id, content, available, create_time
  </sql>

  <!--根据题目id查询该题目的所有评论-->
  <select id="selectByQuestionId" parameterType="java.lang.String" resultType="cn.myzqu.dto.CommentDTO">
      SELECT

      comment.*,

      user.icon as icon ,

      user.nickname as nickname

      FROM comment

      INNER JOIN user ON user.id = comment.user_id

      where question_id = #{questionId,jdbcType=VARCHAR} and available = 0

      order by create_time desc
  </select>

  <!--根据用户id查询评论记录-->
  <select id="selectByUserId" parameterType="java.lang.String" resultType="cn.myzqu.pojo.Comment">
      SELECT
      <include refid="Base_Column_List" />
      FROM comment
      WHERE user_id = #{userId,jdbcType=VARCHAR} AND available = 0
      ORDER BY create_time DESC
  </select>

  <!--添加用户评论-->
  <insert id="insert" parameterType="cn.myzqu.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!--修改用户评论是否可见(某一种意义上的删除)-->
  <update id="updateById" parameterType="cn.myzqu.pojo.Comment">
    update comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>