<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.Message" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sender, bank_id,question_id, message, status, create_time, update_time
  </sql>

  <!--根据接收者用户id查询反馈记录-->
  <select id="selectByUserId" resultType="cn.myzqu.dto.MessageDTO" parameterType="java.lang.String" >
    select

    message.*,

    user.nickname as nickname,

    question_bank.title as bank_title,

    choice_question.question as question

    from message

    INNER JOIN user ON message.sender = user.id

    INNER JOIN question_bank ON message.bank_id = question_bank.id

    INNER JOIN choice_question ON message.question_id = choice_question.id

    where choice_question.user_id = #{userId,jdbcType=VARCHAR}

    ORDER BY message.create_time DESC

  </select>

  <select id="selectAllMessage" resultType="cn.myzqu.dto.MessageDTO" parameterType="java.lang.String">
    select

    message.*,

    user.nickname as nickname,

    question_bank.title as bank_title,

    choice_question.question as question

    from message

    INNER JOIN user ON message.sender = user.id

    INNER JOIN question_bank ON message.bank_id = question_bank.id

    INNER JOIN choice_question ON message.question_id = choice_question.id

    WHERE  user.nickname LIKE  CONCAT('%',#{nickname},'%')

    and question_bank.title LIKE CONCAT('%',#{bankTitle},'%')

    and choice_question.question LIKE CONCAT('%',#{question},'%')

    ORDER BY message.create_time DESC

  </select>

  <!--添加反馈记录-->
  <insert id="insert" parameterType="cn.myzqu.pojo.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="cn.myzqu.pojo.Message" >
    update message
    <set >
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null" >
        bankId = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null" >
        questionId = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>