<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myzqu.dao.PointsMapper">
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.Points">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, value, note, available, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from points
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from points
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <!--添加用户积分记录-->
  <insert id="insert" parameterType="cn.myzqu.pojo.Points">
    insert into points
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.pojo.Points">
    update points
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--查询用户今天分享小程序次数-->
  <select id="shareCount" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM points WHERE user_id=#{user_id} AND note="用户分享小程序" AND to_days(create_time) = to_days(now());
  </select>

  <!--用户查看个人积分记录-->
  <select id="selectByUserId" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM points WHERE user_id=#{user_id} ORDER BY create_time DESC
  </select>

  <!--浏览用户的积分记录-->
  <select id="selectByUser" resultMap="BaseResultMap">
    SELECT * FROM points ORDER BY create_time DESC
  </select>

  <!--通过用户名和时间段查询积分记录-->
  <select id="selectUserByTime" parameterType="Map" resultMap="BaseResultMap">
    SELECT * FROM points WHERE user_id=1  AND create_time  BETWEEN #{first} AND #{end}
  </select>
</mapper>