<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.dao.QuestionBankMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.QuestionBank" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="difficulty" property="difficulty" jdbcType="DOUBLE" />
    <result column="star_level" property="starLevel" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, intro, img, value, user_id, category_name, frequency, difficulty, star_level, 
    status, available, create_time, update_time
  </sql>

  <!--删除题库-->
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from question_bank
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <!--创建题库-->
  <insert id="insert" parameterType="cn.myzqu.pojo.QuestionBank" >
    insert into question_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="starLevel != null" >
        star_level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="starLevel != null" >
        #{starLevel,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <!--修改题库-->
  <update id="updateById" parameterType="cn.myzqu.pojo.QuestionBank" >
    update question_bank
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="starLevel != null" >
        star_level = #{starLevel,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--综合查询(根据题库id，用户id，类名名称，题库标题模糊查询)-->
  <select id="select" resultMap="BaseAndCountResultMap" parameterType="Map">
    SELECT * FROM question_bank
    <where>
      <choose>
        <when test="title!=null and title!=''">
          AND title like '%${title}%'
        </when>
        <when test="userId!=null and userId!=''">
          AND user_id like '%${userId}%'
        </when>
        <when test="categoryName!=null and categoryName!=''">
          AND category_name like '%${categoryName}%'
        </when>
        <when test="id!=null and id!=''">
          AND id like '%${id}%'
        </when>
        <otherwise>
          1=2
        </otherwise>
      </choose>
    </where>
    ORDER BY update_time DESC
  </select>

  <!--题库排序显示综合查询-->
  <select id="selectSort" parameterType="Map" resultMap="BaseAndCountResultMap">
    SELECT * FROM question_bank
    <choose>
      <when test="frequency!=null">
        ORDER BY frequency DESC
      </when>
      <when test="star_level!=null">
        ORDER BY star_level DESC
      </when>
      <otherwise>
        ORDER BY update_time DESC
      </otherwise>
    </choose>
  </select>

  <!--根据题库标题查询题库-->
  <select id="selectByTitle" resultMap="BaseResultMap" resultType="String">
    SELECT * FROM question_bank WHERE title=#{title}
  </select>

  <!--根据题库id查询题库-->
  <select id="selectById" resultMap="BaseResultMap" resultType="String">
    SELECT * FROM question_bank WHERE id=#{id}
  </select>

  <!--根据用户id查询题库-->
  <select id="selectByUserId" resultMap="BaseAndCountResultMap" resultType="String">
    SELECT * FROM question_bank WHERE user_id=#{userId}
  </select>

  <!--根据题库类名查询题库-->
  <select id="selectByTypeName" resultMap="BaseAndCountResultMap" resultType="String">
    SELECT * FROM question_bank WHERE category_name=#{categoryName}
  </select>

  <!--查询该题库下的已通过审核题目数目-->
  <select id="countChoiceByBank" resultType="int" parameterType="String">
    SELECT count(*) FROM choice_question WHERE bank_id = #{id} AND status=0
  </select>

  <!--查询该题库下的题目数目-->
  <select id="countAllChoiceByBank" resultType="int" parameterType="String">
    SELECT count(*) FROM choice_question WHERE bank_id = #{id}
  </select>

  <!--连结显示题库下的题目数目-->
  <resultMap type="cn.myzqu.dto.BankDTO" id="BaseAndCountResultMap" extends="BaseResultMap">
  <association property="count" column="id" javaType="int" select="cn.myzqu.dao.QuestionBankMapper.countChoiceByBank"></association>
    <association property="countAll" column="id" javaType="int" select="cn.myzqu.dao.QuestionBankMapper.countAllChoiceByBank"></association>
  </resultMap>

  <!--用户根据题库标题模糊查询题库-->
  <select id="searchByTitle" resultMap="BaseAndCountResultMap" parameterType="String">
    SELECT * FROM question_bank WHERE title LIKE '%${value}%'
  </select>
  
  <!--根据题库id练习人数+1-->
  <update id="insertPractiseByBankId" parameterType="String">
    UPDATE question_bank SET frequency=frequency+1 WHERE id=#{VALUE };
  </update>

  <!--显示所有题库-->
  <select id="selectAllBank" resultMap="BaseResultMap">
    SELECT * FROM question_bank
  </select>

  <!--显示推荐题库-->
  <select id="selectGreatBank" resultMap="BaseResultMap">
    SELECT * FROM question_bank WHERE status=4
  </select>
</mapper>