<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.dao.QuestionBankMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.QuestionBank" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="difficulty" property="difficulty" jdbcType="DOUBLE" />
    <result column="star_level" property="starLevel" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, intro, img, value, user_id, category_name, frequency, difficulty, star_level, 
    status, available, create_time, update_time
  </sql>
  <select id="selectById" resultMap="BaseAndCountResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question_bank
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from question_bank
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.myzqu.pojo.QuestionBank" >
    insert into question_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="starLevel != null" >
        star_level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="starLevel != null" >
        #{starLevel,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="cn.myzqu.pojo.QuestionBank" >
    update question_bank
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="starLevel != null" >
        star_level = #{starLevel,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByTitle" resultMap="BaseAndCountResultMap" parameterType="String">
    SELECT * FROM question_bank WHERE title=#{title}
  </select>

  <select id="selectByUserId" resultMap="BaseAndCountResultMap" parameterType="String">
    SELECT * FROM question_bank WHERE user_id=#{id}
  </select>

  <select id="selectByCategory" resultMap="BaseAndCountResultMap" parameterType="String">
    SELECT * FROM question_bank WHERE category_name=#{category }
  </select>

  <select id="selectSortByNumber" resultMap="BaseAndCountResultMap">
    SELECT * from question_bank ORDER BY frequency DESC
  </select>

  <select id="selectSortBylevel" resultMap="BaseAndCountResultMap">
    SELECT * from question_bank ORDER BY star_level DESC
  </select>

  <select id="searchByTitle" resultMap="BaseAndCountResultMap" resultType="String">
    SELECT * FROM question_bank WHERE title LIKE '%${value}%'
  </select>

  <select id="countChoiceByBank" resultType="int" parameterType="int">
    SELECT count(*) FROM choice_question WHERE bank_id = #{id}
  </select>

  <resultMap type="cn.myzqu.dto.BankDTO" id="BaseAndCountResultMap"
             extends="BaseResultMap">
  <association property="count" column="id" javaType="int" select="cn.myzqu.dao.QuestionBankMapper.countChoiceByBank"></association>
  </resultMap>
</mapper>