<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myzqu.dao.RatingMapper">
  <resultMap id="BaseResultMap" type="cn.myzqu.pojo.Rating">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="star_level" jdbcType="DOUBLE" property="starLevel" />
    <result column="available" jdbcType="BIT" property="available" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, question_id, bank_id, star_level, available, create_time
  </sql>

  <!--查询用户是否已经评价过题目星级-->
  <select id="selectByUserId" parameterType="HashMap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rating
    where user_id = #{userId,jdbcType=VARCHAR} AND question_id = #{questionId,jdbcType=VARCHAR}
  </select>

  <!--根据题目id查询该题目所有用户评价的星级-->
  <select id="selectByQuestionId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rating
    where question_id = #{questionId,jdbcType=VARCHAR} and available = 0
  </select>

  <!--查询所有用户评价的星级记录-->
  <select id="selectAllRating" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rating
    where available = 0
    order by create_time desc
  </select>

  <!--添加用户评价题目星级的记录-->
  <insert id="insert" parameterType="cn.myzqu.pojo.Rating">
    insert into rating
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="starLevel != null">
        star_level,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="starLevel != null">
        #{starLevel,jdbcType=DOUBLE},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>